.background_image {
    width: 100%;
    left: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.background_image img {
    left: 1086px;
    object-fit: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 684px;
}

.nav-bar {
    align-items: center;
    background-color: var(--white);
    height: 56px;
    left: 0;
    right: 0;
    padding: 0 14px;
    position: absolute;
    top: 0;

    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.right-nav-pannel {
    align-items: center;
    text-align: right;

    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.web_title {
    align-self: flex-start;
    height: 56px;
    letter-spacing: 0;
    width: 228px;
    text-decoration: none;
}

.nav-bar-button {
    align-items: center;
    background-color: var(--wild-sand);
    border-radius: 12px;
    display: flex;
    height: 25px;
    justify-content: center;
    min-width: 80px;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.navbar_button_link {
    height: 23px;
    letter-spacing: 0;
    text-decoration: none;
}

.search-box {
    align-items: center;
    background-color: var(--wild-sand-2);
    border-radius: 12px;
    display: flex;
    height: 31px;
    margin-left: 5px;
    margin-top: 1px;
    overflow: hidden;
    position: relative;
    width: 259px;
}

.search-box input {
    background-color: transparent;
    border: none;
}

.search-box input:focus {
    outline: none;
}

.searchbar_text {
    letter-spacing: 0;
    line-height: 26px;
    margin-left: 16px;
    min-height: 26px;
    white-space: nowrap;
}

.search-icon {
    align-items: flex-start;
    align-self: center;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1px;
    margin-left: 11px;
    min-width: 15px;
}

.search-icon img {
    height: 16px;
    width: 16px;
}

.nav-username {
    margin-right: 10px;
}