.elements-list {
    left: 90px;
    position: absolute;
    top: 200px;
    bottom: 20px;
    width: 1000px;

    flex: 1;
    flex-flow: column wrap;
    overflow: hidden;
    overflow-y: scroll;
}

.song-card-box {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 30px;
}

.song-card {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 2px;

    background: #FFFAF3;
    border-radius: 9px;

    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.show-more-button {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 2px;

    background: #FFFFFF;
    border-radius: 2px 2px 9px 9px;

    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-around;

    cursor: pointer;
}

.song-list-header {
    left: 90px;
    position: absolute;
    top: 165px;

    width: 1000px;
    height: 30px;

    background: #FFFFFF;
    border-radius: 9px 9px 2px 2px;

    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.song-name {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 700px;
}

.clicks-number {
    width: 80px;
    text-align: right;
}

/*.shadow {*/
/*    position: absolute;*/
/*    height: 20px;*/
/*    left: 23px;*/
/*    right: 20px;*/
/*    bottom: 35px;*/

/*    background: #BE5F00;*/
/*    filter: blur(30px);*/
/*}*/

/*.line1 {*/
/*    position: absolute;*/
/*    width: 280px;*/
/*    height: 0px;*/
/*    left: 0px;*/
/*    top: 44px;*/

/*    border: 1px solid #3F4042;*/
/*}*/

/*.line2 {*/
/*    position: absolute;*/
/*    width: 280px;*/
/*    height: 0px;*/
/*    left: 0px;*/
/*    top: 48px;*/

/*    border: 1px solid #3F4042;*/
/*}*/

/*.line3 {*/
/*    position: absolute;*/
/*    width: 280px;*/
/*    height: 0px;*/
/*    left: 0px;*/
/*    top: 52px;*/

/*    border: 1px solid #3F4042;*/
/*}*/
