body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
    --black: rgba(0, 0, 0, 1);
    --cod-gray: rgba(8, 8, 10, 1);
    --ship-gray: rgba(62, 63, 65, 1);
    --cape-cod: rgba(63, 64, 66, 1);
    --fern-green: rgba(73, 132, 49, 1);
    --rose-of-sharon: rgba(190, 95, 0, 1);
    --muddy-waters: rgba(192, 140, 92, 1);
    --cararra: rgba(236, 234, 234, 1);
    --wild-sand-2: rgba(242, 244, 247, 1);
    --wild-sand: rgba(242, 244, 248, 1);
    --desert-storm: rgba(248, 248, 248, 1);
    --white: rgba(255, 255, 255, 1);

    --font-size-m: 15px;
    --font-size-l: 20px;
    --font-size-xl: 21px;
    --font-size-xxl: 25px;
    --font-size-xxxl: 30px;
    --font-size-xxxxl: 40px;
    --font-size-xxxxxl: 50px;

    --font-family-alfa_slab_one: "Alfa Slab One";
    --font-family-raleway: "Raleway";
}

.alfaslabone-normal-muddy-waters-50px {
    color: var(--muddy-waters);
    font-family: var(--font-family-alfa_slab_one);
    font-size: var(--font-size-xxxxxl);
    font-weight: 400;
    font-style: normal;
}

.border-1px-black {
    border-width: 1px;
    border-style: solid;
    border-color: var(--black);
}

.raleway-normal-ship-gray-15px {
    color: var(--ship-gray);
    font-family: var(--font-family-raleway);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
}

.raleway-normal-white-title {
    color: whitesmoke;
    font-size: var(--font-size-xxl);
    font-weight: 400;
    font-style: normal;
}

.alfaslabone-normal-muddy-waters-40px {
    color: var(--muddy-waters);
    font-family: var(--font-family-alfa_slab_one);
    font-size: var(--font-size-xxxxl);
    font-weight: 400;
    font-style: normal;
}

.raleway-normal-black-15px {
    color: var(--black);
    font-family: var(--font-family-raleway);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
}

.alfaslabone-normal-black-30px {
    color: var(--black);
    font-family: var(--font-family-alfa_slab_one);
    font-size: var(--font-size-xxxl);
    font-weight: 400;
    font-style: normal;
}

.raleway-semi-bold-black-30px {
    color: var(--black);
    font-family: var(--font-family-raleway);
    font-size: var(--font-size-xxxl);
    font-weight: 600;
    font-style: normal;
}

.alfaslabone-normal-white-30px {
    color: var(--white);
    font-family: var(--font-family-alfa_slab_one);
    font-size: var(--font-size-xxxl);
    font-weight: 400;
    font-style: normal;
}

.raleway-normal-black-20px {
    color: var(--black);
    font-family: var(--font-family-raleway);
    font-size: var(--font-size-l);
    font-weight: 400;
    font-style: normal;
}

.raleway-normal-cape-cod-15px {
    color: var(--cape-cod);
    font-family: var(--font-family-raleway);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
}

.background {
    background-color: var(--cod-gray);

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}


.sign_up-box {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    left: 106px;
    min-height: 240px;
    position: absolute;
    top: 190px;
    width: 835px;
}

.log_in-box {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    left: 106px;
    min-height: 547px;
    position: absolute;
    top: 190px;
    width: 835px;
}

.fields-box {
    align-items: flex-start;
    background-color: var(--white);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 14px 22px;
    position: relative;
    width: 835px;
}

.login-box {
    height: 103px;
    margin-top: 8px;
    position: relative;
    width: 783px;
}

.login-input {
    font-family: var(--font-family-raleway);
    font-size: var(--font-size-xxl);
    background-color: var(--wild-sand);
    border-radius: 12px;
    height: 63px;
    left: 0;
    position: absolute;
    top: 40px;
    width: 783px;
}

.login {
    height: 41px;
    left: 12px;
    letter-spacing: 1.8px;
    position: absolute;
    text-align: center;
    top: 0;
}

.password-box {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    min-height: 250px;
    width: 787px;
}

.password {
    height: 40px;
    letter-spacing: 1.8px;
    margin-left: 12px;
    min-width: 167px;
    text-align: center;
}

.password-field {
    font-family: var(--font-family-raleway);
    font-size: var(--font-size-xxl);
    background-color: var(--wild-sand);
    border-radius: 12px;
    height: 64px;
    width: 783px;
}

.repeat-password {
    color: var(--black);
    font-family: var(--font-family-raleway);
    font-size: var(--font-size-xxl);
    font-weight: 400;
    height: 29px;
    letter-spacing: 1.5px;
    margin-left: 12px;
    margin-top: 15px;
    min-width: 316px;
    text-align: center;
}

.repeat-password-input {
    font-family: var(--font-family-raleway);
    font-size: var(--font-size-xxl);
    background-color: var(--wild-sand);
    border-radius: 12px;
    height: 63px;
    width: 783px;
}

.login-password-box {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    min-height: 140px;
    width: 750px;
}

.create-an-account {
    align-items: center;
    background-color: var(--fern-green);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    margin-top: 23px;
    padding: 4px 9px;
    height: 41px;
    min-width: 318px;
    text-align: center;
}

.page-title {
    height: 55px;
    left: 70px;
    letter-spacing: 2.4px;
    position: absolute;
    text-align: left;
    width: 70%;
    top: 90px;
    display: flex;
    flex-direction: row;
}

@import url("https://fonts.googleapis.com/css?family=Alfa+Slab+One:400|Raleway:400,600,800");

.valign-text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
